

h1{  
	 font-family: 'Amatic SC', cursive;
	color: #1c56b2;
	font-size: 35px;
	;

 }

h2{  
	 font-family: 'Amatic SC', cursive;
	color: #1c56b2;
	font-size: 30px;
	}
nav{ font-family: 'Amatic SC', cursive;
font-size: 30px;

}

li{font-family: 'Amatic SC', cursive;
font-size: 30px;
}
h3 {  
	 font-family: 'Amatic SC', cursive;
	
	font-size: 28px;
}

p{font-family: 'Exo', sans-serif;
}

table {font-family: 'Amatic SC', cursive;
font-size: 25px; 
}
footer{font-family: 'Amatic SC', cursive;
font-size: 20px;

}







font-family: 'Amatic SC', cursive;
font-family: 'Exo', sans-serif;